<ion-header color="success">
  <ion-toolbar>
    <ion-buttons slot="start"><ion-back-button defaultHref="/movies"></ion-back-button></ion-buttons>
    <ion-title *ngIf="movie$ |async as item">{{item.original_title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="movie$ | async as item">
    <img [src]="imgbaseUrl + '/w400' + item?.poster_path"/>
    <ion-card-header>
      <ion-card-title>
        {{item.title}}
      </ion-card-title>
      <ion-card-subtitle>
        {{item.tagline}}
      </ion-card-subtitle>
      <ion-text>
        <span *ngIf="movie$|async as g">
          <span *ngFor="let genre of item.genres; let islast = last">
            {{genre.name}} {{!islast ? ' - ' : ''}}
          </span>
        </span>
      </ion-text>
    </ion-card-header>
     
    <ion-card-content>
      <ion-label color="medium">{{item.overview}}</ion-label>

      <ion-item lines="none">
        <ion-icon name="calendar-outline" slot="start"></ion-icon>
        <ion-label>{{item.release_date | date: 'yyyy/MM/dd'}}</ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-icon name="cash-outline" slot="start"></ion-icon>
        <ion-label>{{item.budget | currency: 'ZAR'}}</ion-label>
      </ion-item>

    </ion-card-content>
  </ion-card>

</ion-content>

<ion-footer>
  <ion-button expand="full" (click)="openHome()">Go Home</ion-button>
</ion-footer>
