<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/movies"></ion-back-button>
    </ion-buttons>
    <ion-title>Upcoming</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing..."
    >
    </ion-refresher-content>
  </ion-refresher>

  <ion-card button *ngFor="let item of upcoming" routerLink="/nowplaying/{{item.id}}/{{item.original_title}}">
    <ion-img *ngIf="item.backdrop_path != null;else poster" [src]="imgbaseUrl + '/w1280' + item.backdrop_path"></ion-img>
    <ng-template #poster>
      <ion-img [src]="imgbaseUrl + '/w780' + item.poster_path"></ion-img>
    </ng-template>
    <div class="hold">
      <ion-avatar class="avt">
        <ion-img [src]="imgbaseUrl + '/w92' + item.poster_path"></ion-img>
      </ion-avatar>
    </div>
    <ion-card-title style="text-align: center; padding-top: 8px;">{{item.title}}</ion-card-title>
    <ion-card-subtitle style="text-align: center; padding-top: 8px; padding-bottom: 10px;">{{item.release_date}}</ion-card-subtitle>
  </ion-card>

  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
