<ion-header color="primary">
  <ion-toolbar>
    <ion-title>Trending Movies</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button *ngFor="let item of movie;" [routerLink]="[item.id]" routerLinkActive="router-link-active" >
      <ion-avatar slot="start">
        <img [src]="imgbaseUrl + '/w92' + item.poster_path"/>
      </ion-avatar>

      <ion-label>
        {{item.title}}
        <p>{{item.release_date | date: 'yyyy/MM/dd'}}</p>
      </ion-label>

      <ion-badge slot="end">{{item.vote_average}}</ion-badge>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
